.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 2fr));
}

.item {
    margin: 1rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: .8rem;
}

.item__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

.item__content {
    background: $dark-white;
    align-self: end;
    margin: 0% 5% 0% 5%;
    padding: .5rem;
    padding-left: .8rem;
    border-radius: .8rem .8rem 0 0;
    
    // hide content
    transform: translateY(105%);
    transition: transform .3s;

    .post-item-title {
        margin-top: 5%;
        // center
        text-align: center;
    }
}

// on hover image, show content
.item:hover {
    .item__content {
        transform: translateY(0);
    }

    .item__img {
        transition: transform .3s;
        transform: scale(1.13);

        // blur
        filter: blur(2px);
    }
}


.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}